# Supabase Configuration
VITE_SUPABASE_URL=https://dmmicgxjfazfuhlzzzix.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRtbWljZ3hqZmF6ZnVobHp6eml4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM5Mjk1NzIsImV4cCI6MjA4OTUwNTU3Mn0.0w1nv30MssyI6N_ogI1nVekZnlnljMQ-zamuE04S4Dw

# Google Maps Configuration
VITE_GOOGLE_MAPS_API_KEY=AIzaSyCIt_xna45xco_t4VdjkCE0jMxZ6jJQkOE
VITE_GOOGLE_MAPS_MAP_ID=4d35704942cd55257554ff85
